@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html{
    background-color: rgb(29, 21, 36);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: aliceblue;
}
li, a, p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 20%;
    float:right;
    border-radius: 20%;
}

.navigation{
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation li a:hover{
    color: cornflowerblue;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .general h1{
    color: azure;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .general h1 span{
    color:cornflowerblue;
    font-size: 40px;
    font-weight: 600;
}
